html, body, #twitter {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
  margin: 0 auto 14px auto;
}

#navbar-area {
  width: 22%;
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
}

#main-area {
  width: 48%;
  height: 100%;
}

#follow-recommend-area {
  width: 30%;
  height: 100%;
  padding-left: 31px;
}

.upper-area {
  height: 55px;
  border-right: 1px solid #E6ECF0;
  border-left: 1px solid #E6ECF0;
}

.btn-primary {
  border: none;
  background-color: #FF6600;
  color: FFFFFF;
}

.btn-primary:hover, .btn-primary:disabled {
  background-color: #ed5f00
}


.btn-primary:not(:disabled):not(.disabled):focus {
  background-color: #cc5302;
} 

.badge-primary {
  border: none;
  background-color: #FF6600;
  color: FFFFFF;
}

.badge-outline-primary {
  border: 1px solid #FF6600;
  background-color: FFFFF;
  color: #FF6600;
}

.tweet:hover {
  background-color: #f7f7f7;
}

.tweet .like-icon {
  position: relative;
}